<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <script src="/socket.io/socket.io.js"></script>
  <title>Development</title>
</head>

<body style="text-align: center">
  <h1>Test socket connection</h1>
  <h2>Your test device ID is <b id="deviceId">ad3432fdfs123vm</b></h2>
  <h5>Press F12 to open developer console</h5>
  <h6>Use Postman to POST data { n: String, m: String } on URL /api/resource/:device_id</h6>
  <script>
    const consoleStyles = 'background: #222; color: #bada55; font-size: 20px';
    const TEST_ID = document.getElementById('deviceId');
    const { protocol, hostname, port } = location;
    const socket = io(`${protocol}//${hostname}${port ? `:${port}` : ''}`, { query: `id=${TEST_ID.innerHTML}` });

    socket.on('connect', () => {
      console.log(`%c Your current socket ID for this connection is => ${socket.id}`, consoleStyles);
      socket.on('message', message => console.log(`%c Message arrived => ${JSON.stringify(message)}`, consoleStyles));
    });
  </script>
</body>

</html>